In [3]:
import pandas as pd

## Create a Series Object from a python List ##

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry","Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
s = [4,8,15,16,23,42]
e = pd.Series(s)
e

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(e)

pandas.core.series.Series

In [5]:
fruits = ["Apple", "Orange","Plum", "Grape", "Blueberry"]
weekdays = ["Monday","Tuesday", "Wednesday","Thursday", "Friday"]

In [6]:
pd.Series(fruits, weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [7]:
pd.Series(data = fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [8]:
pd.Series(fruits,index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

## Create a Series Object from a Dictonary ##

#### key - index and value - Data ####

In [38]:
german_dict = {"cat" : "katze", "Dog":"hund" ,"Snake" : "Schlange", "Horse" :"Pferd", "Queue" :"Schlange" }
gseries = pd.Series(german_dict)
gseries

cat         katze
Dog          hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

In [39]:
type(gseries)

pandas.core.series.Series

## Import Series with the read_csv method ##

In [21]:
univ = pd.read_csv('Universities.csv' )
univ

            Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown  1310     89      22       13     22704        94
1        CalTech  1415    100      25        6     63575        81
2            CMU  1260     62      59        9     25026        72
3       Columbia  1310     76      24       12     31510        88
4        Cornell  1280     83      33       13     21864        90
5      Dartmouth  1340     89      23       10     32162        95
6           Duke  1315     90      30       12     31585        95
7     Georgetown  1255     74      24       12     20126        92
8        Harvard  1400     91      14       11     39525        97
9   JohnsHopkins  1305     75      44        7     58691        87
10           MIT  1380     94      30       10     34870        91
11  Northwestern  1260     85      39       11     28052        89
12     NotreDame  1255     81      42       13     15122        94
13     PennState  1081     38      54       18     10185        80
14     Princeton  1375     91      14        8     30220        95
15        Purdue  1005     28      90       19      9066        69
16      Stanford  1360     90      20       12     36450        93
17      TexasA&M  1075     49      67       25      8704        67
18    UCBerkeley  1240     95      40       17     15140        78
19      UChicago  1290     75      50       13     38380        87
20     UMichigan  1180     65      68       16     15470        85
21         UPenn  1285     80      36       11     27553        90
22           UVA  1225     77      44       14     13349        92
23    UWisconsin  1085     40      69       15     11857        71
24          Yale  1375     95      19       11     43514        96

In [22]:
type(univ)

pandas.core.frame.DataFrame

In [6]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'])
univ

            Univ
0          Brown
1        CalTech
2            CMU
3       Columbia
4        Cornell
5      Dartmouth
6           Duke
7     Georgetown
8        Harvard
9   JohnsHopkins
10           MIT
11  Northwestern
12     NotreDame
13     PennState
14     Princeton
15        Purdue
16      Stanford
17      TexasA&M
18    UCBerkeley
19      UChicago
20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale

In [ ]:
# output is a 2 dimensional Data which is a dataframe

In [7]:
type(univ)

pandas.core.frame.DataFrame

In [ ]:
#series cannot be taken as 2 Dimensional data so to change it into series we should add "squeeze = True"

In [18]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'], squeeze = True)
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [9]:
type(univ)

pandas.core.series.Series

In [16]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'], squeeze = True )
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [ ]:
#in the above case the header is the 'brown' 
#to change the header to 'Univ' with the index 0 den

In [26]:
univ = pd.read_csv('Universities.csv', usecols = [0], squeeze = True, header=None)
univ

0             Univ
1            Brown
2          CalTech
3              CMU
4         Columbia
5          Cornell
6        Dartmouth
7             Duke
8       Georgetown
9          Harvard
10    JohnsHopkins
11             MIT
12    Northwestern
13       NotreDame
14       PennState
15       Princeton
16          Purdue
17        Stanford
18        TexasA&M
19      UCBerkeley
20        UChicago
21       UMichigan
22           UPenn
23             UVA
24      UWisconsin
25            Yale
Name: 0, dtype: object

In [ ]:
# reading csv file by using directory

In [25]:
univ = pd.read_csv('C:/Users/Dalu/Documents/ExcelR_Data Science/Python/Jupyter Note/Python Data Frame/test folder/Universities.csv', usecols = ['Univ'], squeeze = True )
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

## Convert Series to List ##

In [27]:
list(univ)

['Univ',
 'Brown',
 'CalTech',
 'CMU',
 'Columbia',
 'Cornell',
 'Dartmouth',
 'Duke',
 'Georgetown',
 'Harvard',
 'JohnsHopkins',
 'MIT',
 'Northwestern',
 'NotreDame',
 'PennState',
 'Princeton',
 'Purdue',
 'Stanford',
 'TexasA&M',
 'UCBerkeley',
 'UChicago',
 'UMichigan',
 'UPenn',
 'UVA',
 'UWisconsin',
 'Yale']

## Convert Series to Dictonary ##

In [28]:
dict(univ)

{0: 'Univ',
 1: 'Brown',
 2: 'CalTech',
 3: 'CMU',
 4: 'Columbia',
 5: 'Cornell',
 6: 'Dartmouth',
 7: 'Duke',
 8: 'Georgetown',
 9: 'Harvard',
 10: 'JohnsHopkins',
 11: 'MIT',
 12: 'Northwestern',
 13: 'NotreDame',
 14: 'PennState',
 15: 'Princeton',
 16: 'Purdue',
 17: 'Stanford',
 18: 'TexasA&M',
 19: 'UCBerkeley',
 20: 'UChicago',
 21: 'UMichigan',
 22: 'UPenn',
 23: 'UVA',
 24: 'UWisconsin',
 25: 'Yale'}

## Intro to Attributes ##

In [40]:
gseries

cat         katze
Dog          hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

In [ ]:
# to get the value of the seires

In [41]:
gseries.values

array(['katze', 'hund', 'Schlange', 'Pferd', 'Schlange'], dtype=object)

In [ ]:
# To get the index of the series

In [42]:
gseries.index

Index(['cat', 'Dog', 'Snake', 'Horse', 'Queue'], dtype='object')

In [ ]:
# To see the datatype of the series

In [43]:
gseries.dtype

dtype('O')

In [ ]:
# 'O' stands for object

In [ ]:
# To check wheather the values inside the eries are unique or not

In [44]:
gseries.is_unique

False

In [45]:
univ.is_unique

True

In [ ]:
# To check how many elements are there in the dictionary

In [47]:
gseries.size

5

## Built-In Function ##

### The .head and .tail Methods ###

In [51]:
univ.head()

0        Univ
1       Brown
2     CalTech
3         CMU
4    Columbia
Name: 0, dtype: object

In [52]:
univ.head(3)

0       Univ
1      Brown
2    CalTech
Name: 0, dtype: object

In [53]:
univ.tail()

21     UMichigan
22         UPenn
23           UVA
24    UWisconsin
25          Yale
Name: 0, dtype: object

In [54]:
univ.tail(3)

23           UVA
24    UWisconsin
25          Yale
Name: 0, dtype: object

## Sorting ##

### Sorting based on index ###

In [55]:
univ.sort_index(inplace = False, ascending = False)

25            Yale
24      UWisconsin
23             UVA
22           UPenn
21       UMichigan
20        UChicago
19      UCBerkeley
18        TexasA&M
17        Stanford
16          Purdue
15       Princeton
14       PennState
13       NotreDame
12    Northwestern
11             MIT
10    JohnsHopkins
9          Harvard
8       Georgetown
7             Duke
6        Dartmouth
5          Cornell
4         Columbia
3              CMU
2          CalTech
1            Brown
0             Univ
Name: 0, dtype: object

In [56]:
univ.sort_index(inplace = False, ascending = True)

0             Univ
1            Brown
2          CalTech
3              CMU
4         Columbia
5          Cornell
6        Dartmouth
7             Duke
8       Georgetown
9          Harvard
10    JohnsHopkins
11             MIT
12    Northwestern
13       NotreDame
14       PennState
15       Princeton
16          Purdue
17        Stanford
18        TexasA&M
19      UCBerkeley
20        UChicago
21       UMichigan
22           UPenn
23             UVA
24      UWisconsin
25            Yale
Name: 0, dtype: object

In [ ]:
# if 'inplace = True' it will change the original series and if 'inplace = False' ot wnt change the original series.

### Sorting based on values ###

In [59]:
univ.sort_values(inplace=False)

1            Brown
3              CMU
2          CalTech
4         Columbia
5          Cornell
6        Dartmouth
7             Duke
8       Georgetown
9          Harvard
10    JohnsHopkins
11             MIT
12    Northwestern
13       NotreDame
14       PennState
15       Princeton
16          Purdue
17        Stanford
18        TexasA&M
19      UCBerkeley
20        UChicago
21       UMichigan
22           UPenn
23             UVA
24      UWisconsin
0             Univ
25            Yale
Name: 0, dtype: object

## Membership Test - in Keyword ##

In [60]:
gseries

cat         katze
Dog          hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

In [64]:
"cat" in gseries.values

False

In [63]:
"cat" in gseries.index

True

In [68]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'], squeeze = True)
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

## Extract Values by Index Position ##

In [69]:
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [70]:
univ[1]

'CalTech'

In [71]:
univ[[10,12,16]]

10          MIT
12    NotreDame
16     Stanford
Name: Univ, dtype: object

In [72]:
univ[3:5]

3    Columbia
4     Cornell
Name: Univ, dtype: object

In [73]:
univ[:5]

0       Brown
1     CalTech
2         CMU
3    Columbia
4     Cornell
Name: Univ, dtype: object

## Extract Values by Index Position ##

In [76]:
gseries['cat']

'katze'

In [80]:
# gseries['Elephant']
#this will throw an error as there is no such value in the series

## The .get() Method on a Series ##

In [77]:
gseries.get(key = ["cat","Dog"])

cat    katze
Dog     hund
dtype: object

In [81]:
gseries.get(key = ["Elephant"])

In [82]:
gseries.get(key = "Elephant", default = 'Not in dict')

'Not in dict'

## Math Methods on Series Objects ##

In [83]:
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [84]:
univ.count()

25

In [85]:
len(univ)

25

In [86]:
ser = pd.Series([10,20,34])

In [87]:
ser.sum()

64

In [88]:
ser.mean()

21.333333333333332

In [89]:
ser.sum() / ser.count()

21.333333333333332

In [ ]:
#to find standard deviation

In [90]:
ser.std()

12.055427546683417

In [ ]:
# minimum value

In [91]:
ser.min()

10

In [ ]:
#maximum value

In [92]:
ser.max()

34

In [93]:
ser.median()

20.0

In [94]:
ser.mode()

0    10
1    20
2    34
dtype: int64

In [98]:
ser = pd.Series([10,20,20,34])

In [99]:
ser.mode()

0    20
dtype: int64

In [100]:
ser.describe()

count     4.000000
mean     21.000000
std       9.865766
min      10.000000
25%      17.500000
50%      20.000000
75%      23.500000
max      34.000000
dtype: float64

## The .idxmax() aand .idxmin() Method ##

In [101]:
ser = pd.Series([10,20,45,20,34])

In [103]:
ser.idxmax()

2

In [104]:
ser.idxmin()

0

## The .value_counts() Methods ##

In [110]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"] , squeeze = True)
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [111]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon" , squeeze = True)
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [112]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [113]:
pokemon.count()

721

In [ ]:
# ascending and descending based on value

In [114]:
pokemon.value_counts(ascending =True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [115]:
pokemon.value_counts(ascending =False)

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

## The .apply() Method ##

In [118]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [119]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >=300 and number <650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [120]:
google.apply(classify_performance).tail()

3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: Stock Price, dtype: object

In [121]:
google.apply(classify_performance).head()

0    OK
1    OK
2    OK
3    OK
4    OK
Name: Stock Price, dtype: object

In [122]:
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [123]:
google.apply(lambda stock_price : stock_price +1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64